<!DOCTYPE html>
<html>
  <head>
    <title>Anotações</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="bg-white-smoke">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
